/*----------------------------------------*/
/*  0. Font face CSS testr comment
/*----------------------------------------*/
*{
    margin: 0;
    padding: 0;
}
@font-face {
  font-family: 'UniversLTStd';
  src: url('../webFonts/Univers-LT-Std/UniversLTStd.otf');
}

@font-face {
  font-family: 'Univers-LT-Std-Bold';
  src: url('../webFonts/Univers-LT-Std/UniversLTStd-Bold.otf');
}

@font-face {
  font-family: 'UniversLTStd-UltraCn';
  src: url('../webFonts/Univers-LT-Std/UniversLTStd-UltraCn.otf');
}
@font-face {
  font-family: 'UniversLTStd-UltraCn-Thin';
  src: url('../webFonts/Univers-LT-Std/UniversLTStd-ThinUltraCn.otf');
}


@font-face {
  font-family: "PlantinMTPro-Regular";
  src: url('../webFonts/PlantinMTProRegular/font.woff2') format('woff2'), url('../webFonts/PlantinMTProRegular/font.woff') format('woff');
}

/*@font-face {
  font-family: 'PlantinMTPro-Regular';
  src: url('../fonts/Plantin-MT-Pro/PlantinMTPro-Regular.otf');
}
*/
@font-face {
  font-family: "PlantinMTPro-Italic";
  src: url('../webFonts/PlantinMTProItalic/font.woff2') format('woff2'), url('../webFonts/PlantinMTProItalic/font.woff') format('woff');
}

body{

}

h1, h2, h3, h4, h5, h6{
    color: #303030;
}
p{
    color: #303030;
}
img{
    max-width: 100%;
    display: block;
}

.page_break{
    page-break-before: always;
    margin-bottom: 30px;
}

/*----------------------------------------*/
/*  1. Index page css
/*----------------------------------------*/
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 30px;
}

.h-100{
    height: 100%
}

.col-1{
    grid-column: span 1;
}
.col-2{
    grid-column: span 2;
}
.col-3{
    grid-column: span 3;
}
.col-4{
    grid-column: span 4;
}
.col-5{
    grid-column: span 5;
}
.col-6{
    grid-column: span 6;
}
.col-7{
    grid-column: span 7;
}
.col-8{
    grid-column: span 8;
}
.col-9{
    grid-column: span 9;
}
.col-10{
    grid-column: span 10;
}
.col-11{
    grid-column: span 11;
}
.col-12{
    grid-column: span 12;
}

.sec-padding{
    padding: 30px;
}

.content-wrap {
    padding: 30px 30px 30px 30px;
    border: solid 1px #d5d5d5;
    box-sizing: border-box;
    box-sizing:border-box;
}
.content-wrap.f-height{
    height: calc(1400pt - 60px);
}

.content-wrap.c-height{
    height: calc(1400pt - 90px - 60px);
}

.content-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%;
}




.content-right {
    border-left: 1px solid #d5d5d5;
    padding-left: 30px;
    height: calc(1400pt - 90px - 120px);
}
.f-height .content-right {
    height: calc(1400pt - 120px);
}

.content-right img{
    width: 100%;
    height:100%;
}


.content-lt {
    font-size: 45pt;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: 1px solid #Ddd;
    padding: 25px 0px 55px;
    display: block;
    width: 100%;
    text-align: center;
}

.content-lm {
    transform: rotate(-90deg);
    font-size: 250pt;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.86;
    letter-spacing: 10px;
    text-align: center;
    color: #303030;
    font-family: 'UniversLTStd-UltraCn-Thin';
    /* position: absolute; */
    /* height: 100%; */
    /* top: 0; */
    left: 5rem;
    /* z-index: 999; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 6rem;
    margin-top: 0rem;
}

.content-lb {
    text-align: center;
}
.content-lb p {
    font-family: UniversLTStd;
    font-size: 20pt;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 3px;
    text-align: center;
    color: #303030;
    text-transform: uppercase;
    margin: 0;
}

.content-lb h2 {
    font-family: "PlantinMTPro-Italic";
    font-size: 56pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #303030;
    margin-top: 12px;
    margin-bottom: 0;
}



/*----------------------------------------*/
/*  2. intro css
/*----------------------------------------*/

.intro-top {
    height: 500px;
}

.intro-heading {
    padding-right: 5rem;
}

.intro-heading h3 {
    margin: 0;
    font-family: "PlantinMTPro-Regular";
    font-weight: normal;
    font-size: 56px;
    /* font-size: 48px; */
}

.intro-heading p {
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'UniversLTStd';
    letter-spacing: 2.14px;
    margin-top: 15px;
}


/*** intro right top ***/

.intro-right-top {
    display: flex;
    justify-content: flex-end;
}
.intro-right-top-l {
    margin-right: 30px;
}
.intro-right-top-single {
    width: 140px;
    margin-bottom: 25px;
}
.intro-right-top-single span {
    font-family: 'PlantinMTPro-Regular';
    font-size: 24px;
}
.intro-right-top-single p {
    margin: 0;
    font-family: 'PlantinMTPro-Italic';
    font-size: 24px;
    line-height: 32px;
}



/*** intro bottom ***/
.intro-btm {
    height: calc(1400pt - 500px - 60px - 90px - 60px);
}
.intro-btm-img img{
    height: 100%;
    object-fit: fill;
    width: 100%;
}
.intro-btm-wrap {
    border-top: 1px solid #d8d8d8;
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-column-gap: 30px;
}
.intro-btm-img:nth-child(1) {
    height: calc(1400pt - 500px - 90px - 90px - 60px);
    position: relative;
}
.intro-btm-img:nth-child(1):after {
    content: '1';
    color: #fff;
    position: absolute;
    left: 15px;
    top: 15px;
    font-family: 'PlantinMTPro-Regular';
    font-size: 20px;
}
.intro-btm-img:nth-child(1) {
    grid-column: 1 / span 5;
}
.intro-btm-img:nth-child(2) {
    grid-column: 6 / span 4;
}
.intro-btm-img2 {
    height: calc(1400pt - 500px - 90px - 450px - 90px - 60px);
    width: 100%;
    position: relative;
}
.intro-btm-img2:after {
    content: '2';
    color: #fff;
    position: absolute;
    left: 15px;
    top: 15px;
    font-family: 'PlantinMTPro-Regular';
    font-size: 20px;
}
.intro-btm-img3 {
    height: 420px;
    margin-top: 30px;
    width: 100%;
    position: relative;
}
.intro-btm-img3:after {
    content: '3';
    color: #fff;
    position: absolute;
    left: 15px;
    top: 15px;
    font-family: 'PlantinMTPro-Regular';
    font-size: 20px;
}

/*** intro bottom right ***/
.intro-btm-right {
    border-top: 1px solid #d8d8d8;
}
.intro-btm-right {
    border-top: 1px solid #d8d8d8;
    position: relative;
    margin-left: 30px;
}
.intro-btm-right:after {
    position: absolute;
    content: "";
    left: -30px;
    width: 1px;
    background: #d8d8d8;
    top: -500px;
    height: calc(1400pt - 60px - 90px - 60px);
}
.intro-btm-right p {
    font-size: 30pt;
    line-height: 36pt;
    font-family: 'PlantinMTPro-Regular';
    margin-top: 25px;
}
.intro-btm-right p:last-child {
    margin-top: 10px;
}
.intro-btm-right span {
    text-transform: uppercase;
    font-family: 'UniversLTStd';
    font-size: 25px;
    line-height: 1.5;
    font-weight: bold;
    letter-spacing: 2.14px;
    margin-top: 15px;
    display: block;
}
.content-footer {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.content-footer p {
    font-family: 'PlantinMTPro-Regular';
    font-size: 28px;
    /* font-size: 16px; */
    letter-spacing: 2.82px;
}
.content-footer p span{
    font-family: 'PlantinMTPro-Italic';
    letter-spacing: 0px;
}

/*----------------------------------------*/
/*  3. hotel css
/*----------------------------------------*/
.hotel-content-left {
    position: relative;
    height: calc(1400pt - 90px - 60px - 60px);
}

.hotel-content-lt {
    border-bottom: 1px solid #D8D8D8;
}
.hotel-content-lt p {
    font-family: 'UniversLTStd';
    text-transform: uppercase;
    letter-spacing: 2.1px;
    /* font-size: 16px; */
    font-size: 28px;
    font-weight: 700;
    margin-top: 0;
}
.hotel-content-lt {
    border-bottom: 1px solid #D8D8D8;
}

.hotel-content-lt h3 {
    font-size: 80px;
    margin-top: 0px;
    font-weight: normal;
    font-family: 'PlantinMTPro-Regular';
    line-height: 90px;
}

.hotel-content-lm ul li,
.hotel-content-lm p {
    font-size: 38px;
    font-family: 'PlantinMTPro-Regular';
    line-height: 45px;
    color:#4e4e4e;
}

.hotel-content-lm p {
    padding-top: 30px;
}

.hotel-content-lm h4 {
    font-family: 'UniversLTStd';
    letter-spacing: 2.14px;
    margin-bottom: 0px;
    margin: 0 0;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 8px;
}

.hotel-content-lm ul {
    margin: 0;
    padding: 10px 0 0 15px;
}


.hotel-right-top {
    height: 600pt;
    margin-bottom: 30px;
}

.hotel-right-bottom {
    overflow: hidden;
}


.hotel-rb-r img,
.hotel-rt {
    height: 285pt;
    margin-bottom: 30px;
}
.hotel-rb-l img,
.hotel-rt img{
    object-fit: cover;
}
.hotel-rb-l {
    height: calc(1400pt - 600pt - 60px - 90px - 30px - 60px);
    overflow: hidden;
}
.hotel-details {
    background: #f4f4f4;
    padding: 30px 20px 20px 20px;
    /* height: 280pt; */
    height: 275pt;
    display: flex;
    flex-direction: column;
}

.hotel-details p {
    font-family: 'UniversLTStd';
    /* font-size: 20px; */
    font-size: 25px;
    font-weight: bold;
    margin-top: 0;
    letter-spacing: 2.14px;
    line-height: 30px;
}
.hotel-details ul {
    margin: 30px 0 0 0;
    padding: 0 0 0 18px;
}

.hotel-details ul li {
    font-family: 'PlantinMTPro-Regular';
    font-size: 30px;
    color: #303030;
    margin-bottom: 8px;
}


.hotel-content-lb {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 30px);
    align-items: center;
    border-top: 1px solid #D8D8D8;
    padding-top: 25px;
}


.hotel-content-left .hotel-content-lb {
    width: 100%;
}

.hotel-content-lb img{
    width: 40px;
}
.hotel-content-lb > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hotel-content-lb > div:first-child span {
    font-family: 'PlantinMTPro-Italic';
    font-size: 32px;
    /* font-size: 24px; */
    color: #303030;
    margin-top: 5px;
    margin-left: 10px;
}

.hotel-content-lb > div:last-child p {
    font-size: 24px;
    margin: 0;
    /* letter-spacing: 1.5px; */
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'PlantinMTPro-Regular';
}
.hotel-content-lb > div:last-child{
    position: relative;
}
.hotel-content-lb > div:last-child:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 55px;
    background: #d8d8d8;
    top: -12px;
    left: -25px;
}




/*----------------------------------------*/
/*  4. Day css
/*----------------------------------------*/
.day-content-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    text-align: center;
    position: relative;
    padding-right: 15px;
}

.day-content-lt {
    padding-top: 10rem;
}

.day-content-lt p {
    font-family: 'UniversLTStd';
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 30px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

.day-content-lt h4 {
    font-family: 'PlantinMTPro-Italic';
    font-size: 48px;
    /* font-size: 40px; */
    margin-top: 15px;
    font-weight: normal;
    line-height: 60px;
    margin-bottom: 0;
}


.day-content-lm {
    /*position: absolute;
    width: 100%;
    height: 888pt;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 272pt;*/
    position: absolute;
    width: 100%;
    height: calc(1400pt - 190px);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}

.day-content-lm h2 {
    font-weight: normal;
    font-size: 50rem;
    font-family: 'UniversLTStd-UltraCn-Thin';
    margin: 0;
    margin-top: 140pt;
}

.day-content-lb {
    padding-bottom: 10rem;
}

.day-content-lb p {
    font-size: 45px;
    line-height: 60px;
    margin: 0px;
    font-family: 'PlantinMTPro-Regular';
}


/*-- day-content --*/
.day-content-col {
    height: calc(1400pt - 90px - 60px - 60px);
}


.border-r,
.border-l {
    position: relative;
    padding: 0px 15px;
    /* padding:; */
}
.border-l:after,
.border-r:after {
    position: absolute;
    content: "";
    left: -15px;
    width: 1px;
    height: calc(1400pt - 90px - 60px - 60px);
    background: #d8d8d8;
    top: 0;
}

.day-content-heading {
    padding-bottom: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    height: 125px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.day-content-heading p {
    font-size: 22px;
    line-height: 40px;
    font-family: 'UniversLTStd';
    text-transform: uppercase;
    letter-spacing: 2.5px;
    /* letter-spacing: 1.62px; */
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.day-content-heading p span {
    display: block;
    font-weight: normal;
}



.day-content-map {
    padding: 30px 0px;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}
.day-content-map-heading {
    min-height: 250px;
    /* min-height: 270px; */
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 30px;
}
/* .day-height-2 .day-content-map-heading {
    min-height: 285px;
} */
.day-height-3 .day-content-map-heading {
    min-height: 280px;
}
.day-height-4 .day-content-map-heading {
    min-height: 315px;
}
.day-content-map img {
    width: 100%;
}
/* .day-heading-height .day-content-map-heading {
    min-height: 420px;
} */
.day-content-map-heading h2 {
    font-size: 4rem;
    /* font-size: 5rem; */
    font-family: 'PlantinMTPro-Regular';
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 0px;
}

.day-content-map-heading h2 span {
    font-family: 'PlantinMTPro-Italic';
}

.day-content-destination {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 30px;
}

.day-content-duration {
    /*display: flex;
    justify-content: space-between;*/
    width: 100%;
    position: relative;
    padding-left: 70px;
}
.day-content-duration > div:nth-child(1) {
    float: left;
}
.day-content-duration > div:nth-child(2) {
    display: inline-block;
}
.day-content-duration > div:nth-child(3) {
    float: right;
}

.day-content-duration:before {
    position: absolute;
    content: "";
    background-image: url(../img/au.svg);
    /* width: 55px;
    height: 55px; */
    width: 65px;
    height: 65px;
    background-size: cover;
    background-repeat: no-repeat;
    top: -3px;
    left: 0;
}


.day-content-duration > div h3 {
    margin: 0;
    font-family: 'PlantinMTPro-Regular';
    font-weight: normal;
    font-size: 28px;
    /* font-size: 25px; */
}


.day-content-duration > div p {
    font-family: 'PlantinMTPro-Regular';
    text-transform: uppercase;
    margin: 0;
    font-size: 20px;
}

.day-content-duration > div:nth-child(2) {
    width: calc(100% - 250px);
    margin: auto;
}
.day-content-duration > div:nth-child(2) img{
    /* width: 80%; */
    width: 70%;
    margin: auto;
}

.day-content p {
    margin: 0;
    margin-top: 30px;
    font-family: 'PlantinMTPro-Regular';
    font-size: 34px;
    line-height: 46px;
    font-weight: 400;
}
.day-content p span{
    font-family: 'PlantinMTPro-Italic';
}

.border-l:after {
    right: -15px;
    left: auto;
  
}
/* .day-1 .day-content-map-heading h2 {
    font-size: 3.5rem;
} */
